@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;700&family=League+Spartan:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

body {
  background: #070724;
  font-family: "Antonio", sans-serif;
  font-family: "League Spartan", sans-serif;
  background-image: url(.././public/assets/background-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  animation: moveStars 20s linear infinite;
}

.font-antonio {
  font-family: "Antonio", sans-serif;
}

.font-sparten {
  font-family: "League Spartan", sans-serif;
}
